@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model CommerceTraining.Models.ViewModels.ShirtVariationViewModel

<div>
    Variant page
</div>

<div>
    <img src="@Model.image">
</div>

<div>
    <strong>Default Price: </strong> @Html.DisplayFor(m => m.priceString)
</div>

<div>
    @Html.CheckBoxFor(m => m.CanBeMonogrammed) Can have a monogram
</div>
